<!DOCTYPE html>
<html lang="pt_BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- css -->
    <link rel="stylesheet" href="./css/style.css" />

    <!-- fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap"
      rel="stylesheet"
    />

    <title>Consumindo API REST</title>
  </head>

  <body>
    <header>
      <h1>Consumindo <span class="highlight">API REST</span></h1>
    </header>

    <div class="container">
      <button id="btn-a">Letra A</button>
      <button id="btn-b">Letra B</button>
      <button id="btn-c">Letra C</button>
      <br />
      <button id="btn-d">Letra D</button>
      <button id="btn-e">Letra E</button>
      <button id="btn-f">Letra F</button>
    </div>

    <div>
      <input id="nome" type="text" placeholder="nome" />
    </div>

    <div>
      <p id="result"></p>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="./scripts/main.js"></script>
  </body>
</html>
